In [35]:
import pandas as pd
import numpy as np
import yfinance as yf

import requests, csv, re
from bs4 import BeautifulSoup, NavigableString, Tag

## 2021.09.27 김학주 교수님 조선일보 자료

### 1. 2005년 1월부터의 S&P500 주가

In [34]:
SNP = yf.Ticker('^GSPC').history('max')
SNP = SNP[SNP.index >= '2005-01-01'].loc[:, ['Close']]
print(SNP.shape)
SNP.head()

(4212, 1)

                  Close
Date
2005-01-03  1202.079956
2005-01-04  1188.050049
2005-01-05  1183.739990
2005-01-06  1187.890015
2005-01-07  1186.189941

### 2. 2019년 1월부터의 Coal price와 Iron ore price - java scraping

In [96]:
### Coal

# https://curl.trillworks.com/
# https://tradingeconomics.com/commodity/coal

headers = {
    'authority': 'markets.tradingeconomics.com',
    'sec-ch-ua': '',
    'accept': '',
    'sec-ch-ua-mobile': '',
    'user-agent': '',
    'sec-ch-ua-platform': '',
    'origin': 'https://tradingeconomics.com',
    'sec-fetch-site': '',
    'sec-fetch-mode': '',
    'sec-fetch-dest': '',
    'referer': 'https://tradingeconomics.com/',
    'accept-language': '',
}

params = (
    ('s', 'xal1:com'),
    ('span', 'max'),
    ('securify', 'new'),
    ('url', 'commoditycoal'),
    ('AUTH', ''),
)

response = requests.get('https://markets.tradingeconomics.com/chart', headers=headers, params=params)
soup = BeautifulSoup(response.text, 'html.parser')
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [121]:
text = str(soup)[210:]
times = text.split('close":')[1:]

Coal_lst = []
Coal_date = []
for time in times:
    Coal_lst.append(time[:8])
    Coal_date.append(time.split(',"date":"')[1][:10])
    
print(len(Coal_lst), len(Coal_date))

154 154

In [127]:
Coal = pd.concat([pd.DataFrame(Coal_date), pd.DataFrame(Coal_lst)], axis = 1)
Coal.columns = ['Date', 'coal']
print(Coal.shape)
Coal.head()

(154, 2)

         Date      coal
0  2008-12-05  75.33000
1  2009-01-02  78.13000
2  2009-02-02  61.75000
3  2009-03-02  61.17000
4  2009-04-01  64.20000

In [59]:
### Iron ore

# https://curl.trillworks.com/
# https://tradingeconomics.com/commodity/iron-ore

headers = {
    'authority': 'markets.tradingeconomics.com',
    'sec-ch-ua': '',
    'accept': '',
    'sec-ch-ua-mobile': '',
    'user-agent': '',
    'sec-ch-ua-platform': '',
    'origin': 'https://tradingeconomics.com',
    'sec-fetch-site': '',
    'sec-fetch-mode': '',
    'sec-fetch-dest': '',
    'referer': 'https://tradingeconomics.com/',
    'accept-language': '',
}

params = (
    ('s', 'sco:com'),
    ('span', 'max'),
    ('securify', 'new'),
    ('url', 'commodityironore'),
    ('AUTH', ''),
)

response = requests.get('https://markets.tradingeconomics.com/chart', headers=headers, params=params)
soup = BeautifulSoup(response.text, 'html.parser')
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [95]:
text = str(soup)[172:]
times = text.split('close":')[1:]

Iron_ore_lst = []
Iron_ore_date = []
for time in times:
    Iron_ore_lst.append(time[:9])
    Iron_ore_date.append(time.split(',"date":"')[1][:10])

print(len(Iron_ore_lst), len(Iron_ore_date))

169 169

In [128]:
Iron_ore = pd.concat([pd.DataFrame(Iron_ore_date), pd.DataFrame(Iron_ore_lst)], axis = 1)
Iron_ore.columns = ['Date', 'Iron_ore']
print(Iron_ore.shape)
Iron_ore.head()

(169, 2)

         Date   Iron_ore
0  2007-09-18  154.00000
1  2007-10-01  180.00000
2  2007-11-01  185.00000
3  2007-12-03  190.00000
4  2008-01-01  185.00000

### 3. 2017년부터의 BOTZ, Yaskawa, Komatsu 주가

In [17]:
BOTZ = yf.Ticker('BOTZ').history('max')
BOTZ = BOTZ[BOTZ.index >= '2017-01-01'].loc[:, ['Close']]
BOTZ.head()

                Close
Date
2017-01-03  14.687322
2017-01-04  14.901308
2017-01-05  14.930489
2017-01-06  14.949942
2017-01-09  14.911034

In [18]:
YASKY = yf.Ticker('YASKY').history('max')
YASKY = YASKY[YASKY.index >= '2017-01-01'].loc[:, ['Close']]
YASKY.head()

                Close
Date
2017-01-03  31.000000
2017-01-04  32.400002
2017-01-05  32.192001
2017-01-06  32.192001
2017-01-09  31.850000

In [19]:
KMTUY = yf.Ticker('KMTUY').history('max')
KMTUY = KMTUY[KMTUY.index >= '2017-01-01'].loc[:, ['Close']]
KMTUY.head()

                Close
Date
2017-01-03  22.809999
2017-01-04  23.240000
2017-01-05  22.969999
2017-01-06  22.940001
2017-01-09  22.940001

In [31]:
df = pd.merge(BOTZ, YASKY, how = 'inner', left_on=BOTZ.index, right_on=YASKY.index)
df.columns = ['Date', 'BOTZ', 'YASKY']
df = df.set_index('Date')
df.head()

                 BOTZ      YASKY
Date
2017-01-03  14.687322  31.000000
2017-01-04  14.901308  32.400002
2017-01-05  14.930489  32.192001
2017-01-06  14.949942  32.192001
2017-01-09  14.911034  31.850000

In [32]:
df = pd.merge(df, KMTUY, how = 'inner', left_on=df.index, right_on=KMTUY.index)
df.columns = ['Date', 'BOTZ', 'YASKY', 'KMTUY']
df = df.set_index('Date')
print(df.shape)
df.head()

(1190, 3)

                 BOTZ      YASKY      KMTUY
Date
2017-01-03  14.687322  31.000000  22.809999
2017-01-04  14.901308  32.400002  23.240000
2017-01-05  14.930489  32.192001  22.969999
2017-01-06  14.949942  32.192001  22.940001
2017-01-09  14.911034  31.850000  22.940001

## 만들어진 데이터들 저장하기

In [129]:
SNP.to_excel('/Users/paul/Desktop/SNP500.xlsx')
Coal.to_excel('/Users/paul/Desktop/Coal.xlsx')
Iron_ore.to_excel('/Users/paul/Desktop/Iron_ore.xlsx')
df.to_excel('/Users/paul/Desktop/ETF3.xlsx')